/* **Body component** */
.body {
    padding: 20px;
  }
  
  /* Filter section */
  .filter {
    display: flex;
    margin: 4px;
    padding: 4px;
    justify-content: center;
  
  }
  .search {
    margin: 4px;
    padding: 4px;
  }
  
  .searchBox {
    border: 1px solid black;
    border-radius: 5px;
   }

   .filter-res-btn {
    margin: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
   }

  .filter-btn {
    background-color: green;
    color: #fff;
    padding: 4px 2px;
    margin: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-res {
  
    color: rgb(7, 203, 7);
    margin: 4px;
    padding: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Restaurant cards */
  .res-container {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    gap: 40px 25px; 
    /* margin: 0 30px; */
    /* padding: 0 50px; */
  }
  
  /* Restaurant card */
  .restaurant-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .restaurant-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  





/* Header component */



.header {
    background-color: #d8d0d0;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 35px;
   
    align-items: center;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    position: sticky;
    top: 0;
    z-index: 10;
    
    /* flex justify-between bg-yellow-300 shadow-lg  font-[500] */
  }  
/* Logo */
  .logo-container {
    flex: 1;
  }
  
  .logo {
    width: 40px;
    margin: 6px 0px;
    margin-top: 2px;
    cursor: pointer;
  }
  
  /* Navigation links */
  .nav-items > ul {
    font-size: 18px;
    display: flex;
     list-style-type: none; 
    align-items: center;
    gap: 10px; 
    padding: 4px;
    margin: 4px;
  }
  
  .nav-items > ul > li a {
    text-decoration: none;
    color: #391a1a;
    cursor: pointer;
    padding: 10px;
  }
  
  .nav-items .links a {
    color: #0c0101; /* Navigation link color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-items > ul > li a:hover {
    color: rgb(96, 86, 231);
    transition: all 0.2s;
  }
  
  /* Online status indicator */
  .online-status {
    font-size: 1.2rem;
    margin-right: 10px; /* Adjust the spacing between online status and navigation links */
  }
  
  /* Login/logout button */
  .loginBtn {
    background-color: #e64a19; /* Button background color */
    color: #fff; /* Button text color */
    padding: 8px 16px; /* Adjust button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginBtn:hover {
    background-color: #8f5dd5; /* Hover color for login/logout button */
  }
  



               /* RestaurantCard component */


.res-card {
  margin: 4px;
  padding: 4px;
  width: 250px;
  height: 450px;
  background-color: rgb(230, 225, 225);
  transition: all;
  
    /* height: 300px; */
  /* padding: 5px; */
  /* padding-bottom: 20px; */
  /* border: 1px solid transparent; */

  border-radius: 11px;
  cursor: pointer;

}
  
.res-card:hover {
    box-shadow: 0 2.4rem 4.8rem rgba(20, 19, 19, 0.075);
  }
  
  /* Restaurant image */
  .res-img {
    text-align: center;
  }
  
  .res-logo {
    width: 250px;
    height:150px ;
    border-radius: 10px 10px 0 0;
  }
  
  /* Restaurant name */
  .res-card-content {
    padding: 4px;
    font-size: 1.125rem;
  
  }
  
  /* Cuisines */
  .res-cuisine {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .res-card-content .avg-rating,
  .res-card-content .item-price,
  .res-card-content .time {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .res-card-content h4 {
    margin-top: 0;
  }




 .RestaurantCategory {
  /* w-6/12 mx-auto my-4 bg-gray-50 shadow-lg p-4 */
  width: 50%;
  margin: auto 4px;
background-color: gray;
padding: 4px;
}

.Res-Category{
  /* flex justify-between cursor-pointer */
  display: flex;
  justify-content: center;
cursor: pointer;
}
.itemCard{
  /* font-bold text-lg */
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




  .footer {
    background-color: #fff;
    /* margin: 5px; */
    padding: 30px 10px;
    /* border: 1px solid black; */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    /* border-radius: 11px; */
    margin-top: 50px;
    /* margin-bottom: 20px; */
    text-align: center;
  }